@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Navbar stylesheet */
:root {
    --primary: #296915;
    --heading-color: #282938;
    --bg-shade: #f5fcf3; /* #f5fcff */
    --github: #235594;
    --darkblue: #1c1e53;
    --black: #000000;
    --white: #ffffff;
  }
/* Navbar Style Start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 85.333px;
    background: var(--white);
    box-shadow: 0px 5.333px 80px 0 rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .navbar-items > ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 42.667px;
    text-decoration: none;
  }
  
  .navbar-items > ul > li > a {
    text-decoration: none;
  }
  
  /* Navbar Content*/
  .navbar-content {
    color: var(--darkblue);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
  }
  
  .navbar-active-content {
    color: var(--primary);
  }
  /* Navbar Style Ends */


  a {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
    color: black;
  }


/* Stylesheet for StartGame page */

body {
    font-family: "Poppins";

}

.startgame_title, .startgame_header1 {
    text-align: center;
}

.startgame_h1 {
    font-size: 30px;
}

.startgame_btn {
    margin: 10px;
    padding: 5px 10px;
    text-align: center;
}

.modeContainer {
    text-align: center;
    /* background-color: black; */
}

.modeBtn {
    width: 50%;
}

.landing-section {
  padding: 133.333px 85.333px 133.333px;
  height: 100%;
  width: 100%;
  background-color: #1c1e53;
}